<%- include('header') %>

<header class="container text-center mb-4">
  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>
  <p>Please select two runes to start crafting</p>
</header>

<main class="d-flex flex-column justify-content-center align-items-center">
  <section class="runes-container ">
    <% for(let i = 0; i <= 2; i++) { %>
      <img class="runeImgs" src="<%= runes.Runes[i].img %>" alt="<%= runes.Runes[i].name %>">
    <% } %>
  </section>
  <button id="combineBtn" class="btn btn-primary mb-5 mt-4" disabled="true">Combine</button>

  <section class="container combined-section d-flex flex-column justify-content-center align-items-center">
    <h3 class="text-light">New found runes:</h3>
    <div class="foundRunes">
      <% runes.Found.forEach( rune => { %>
        <img class="foundRuneImgs" src="<%= rune.img %>" alt="<%= rune.name %>">
      <% }); %>
    </div>
  </section>

  <footer class="container-fluid mt-5">
    <!-- Icon tributes: -->
    Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
</footer> 
</main>

<%- include('footer') %>