<%- include('header') %>

<main class="container text-center mb-4">
    <h1><%= title %></h1>
    <h2>Look at this snazy little bastard!</h2>
    <!-- Div holder for the new rune: -->
    <div class="runeHolder">
        <img class="runeImgs" src="<%= rune.img %>" alt="<%= rune.name %>">
    </div>


    <footer class="container-fluid mt-5">
        <!-- Icon tributes: -->
        Icons made by <a href="https://www.flaticon.com/authors/freepik" target="_blank" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" target="_blank" title="Flaticon"> www.flaticon.com</a>
    </footer> 
</main>

<%- include('footer') %>